<a href="https://colab.research.google.com/github/aadi-kanwar/MLOps/blob/main/Data_Processing_Dask_%26_Polars.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install dask

Requirement already satisfied: dask in /usr/local/lib/python3.11/dist-packages (2024.10.0)
Requirement already satisfied: click>=8.1 in /usr/local/lib/python3.11/dist-packages (from dask) (8.1.8)
Requirement already satisfied: cloudpickle>=3.0.0 in /usr/local/lib/python3.11/dist-packages (from dask) (3.1.1)
Requirement already satisfied: fsspec>=2021.09.0 in /usr/local/lib/python3.11/dist-packages (from dask) (2024.10.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.11/dist-packages (from dask) (24.2)
Requirement already satisfied: partd>=1.4.0 in /usr/local/lib/python3.11/dist-packages (from dask) (1.4.2)
Requirement already satisfied: pyyaml>=5.3.1 in /usr/local/lib/python3.11/dist-packages (from dask) (6.0.2)
Requirement already satisfied: toolz>=0.10.0 in /usr/local/lib/python3.11/dist-packages (from dask) (0.12.1)
Requirement already satisfied: importlib-metadata>=4.13.0 in /usr/local/lib/python3.11/dist-packages (from dask) (8.6.1)
Requirement already satisfied: zipp>=3.20 in /usr/local/lib/python3.11/dist-packages (from importlib-metadata>=4.13.0->dask) (3.21.0)
Requirement already satisfied: locket in /usr/local/lib/python3.11/dist-packages (from partd>=1.4.0->dask) (1.0.0)

In [2]:
import dask.dataframe as dd

# Create a smaple CSV file (in-memory for demonstration)
# First create a dictionary data

data = {
    'name':['Aadi', 'Babu', 'Charles', 'David', 'Elson', 'Rohit', 'Rahul', 'Bhairava'],
    'age' :[20,25,30,35,40,45,50,25],
    'salary':[50000, 60000, 70000, 80000, 90000, 50000, 60000, 70000]
}

/usr/local/lib/python3.11/dist-packages/dask/dataframe/__init__.py:42: FutureWarning:
Dask dataframe query planning is disabled because dask-expr is not installed.

You can install it with `pip install dask[dataframe]` or `conda install dask`.
This will raise in a future version.

  warnings.warn(msg, FutureWarning)

In [3]:
# Convert pandas dataframe first
import pandas as pd
df = pd.DataFrame(data)
df.to_csv('/content/DD.csv',index=False) # Saves as a CSV File

In [4]:
dask_df = dd.read_csv('/content/DD.csv')
dask_df

Dask DataFrame Structure:
                 name    age salary
npartitions=1
               string  int64  int64
                  ...    ...    ...
Dask Name: to_pyarrow_string, 2 graph layers

In [6]:
dask_df.head()

      name  age  salary
0     Aadi   20   50000
1     Babu   25   60000
2  Charles   30   70000
3    David   35   80000
4    Elson   40   90000

In [7]:
dask_df.describe()

Dask DataFrame Structure:
                   age   salary
npartitions=1
               float64  float64
                   ...      ...
Dask Name: to_pyarrow_string, 35 graph layers

In [8]:
dask_df.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 3 entries, name to salary
dtypes: int64(2), string(1)

In [10]:
avg_salary = dask_df['salary'].mean().compute()
print(f"The average salary is {avg_salary:.2f}")

The average salary is 66250.00

In [11]:
grouped_df = dask_df.groupby('age').agg({'salary': 'mean'})
result = grouped_df.compute()
print(result)

      salary
age
20   50000.0
25   65000.0
30   70000.0
35   80000.0
40   90000.0
45   50000.0
50   60000.0

## Using Polars

In [12]:
!pip install polars

Requirement already satisfied: polars in /usr/local/lib/python3.11/dist-packages (1.9.0)

In [13]:
import polars as pl

In [14]:
pl_df = pl.DataFrame(data)

In [15]:
filtered_df = pl_df.filter(pl.col('age') > 30)
avg_salary = filtered_df.select(pl.col('salary').mean()).to_numpy()
print(f"Average Salary (age > 30): {avg_salary[0]}")

Average Salary (age > 30): [70000.]